body {
    background-color: white;
}

.spinner-wrapper {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.spinner-grow {
    height: 80px;
    width: 80px;
}

.collapse navbar-collapse d-flex {
    justify-content: end;
}

.top {
    height: 400px;
    width: 600px;
}

@media only screen and (min-width: 0px) and (max-width: 1070px) {
    .bur {
        width: 100%;
        padding-left: 23px;
        flex-direction: column-reverse;
    }
}

@media(min-width:500px) {
    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 180px;
        width: 290px;
    }
}

@media(min-width:700px) {
    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 250px;
        width: 350px;
    }
}

@media(min-width:1070px) {
    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 325px;
        width: 450px;
    }
}

.txt:hover {
    color: yellow;
    border-bottom: 3px solid yellow;
}

.carousel-inner>.carousel-item>img {
    width: 1550px;
    height: 560px;
}

ul {
    list-style-type: none;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

img {
    -webkit-mask-image: linear-gradient(45deg, #ffffff 25%, rgba(255, 255, 255, 0.2) 50%, #ffffff 75%);
    mask-image: linear-gradient(45deg, #ffffff 25%, rgba(255, 255, 255, 0.2) 50%, #ffffff 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
}

img:hover {

    transition: mask-position 2s ease, -webkit-mask-position 2s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;

}