body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.order-summary {
    border: 1px solid #ddd;
    padding: 10px;
}

#popup {
    /* Pop-up styling (hidden by default) */
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}